.metadata/

btl_ltw/.settings/.jsdtscope
btl_ltw/.settings/org.eclipse.core.resources.prefs
btl_ltw/.settings/org.eclipse.jdt.core.prefs
btl_ltw/.settings/org.eclipse.wst.common.component
btl_ltw/.settings/org.eclipse.wst.common.project.facet.core.xml
btl_ltw/.settings/org.eclipse.wst.jsdt.ui.superType.container
btl_ltw/.settings/org.eclipse.wst.jsdt.ui.superType.name
