.logo {
  max-height: 40px;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
.col-1 {
  width: 10%;
}
.col-2 {
  width: 20%;
}
.col-3 {
  width: 30%;
}
.col-4 {
  width: 40%;
}
.col-5 {
  width: 50%;
}
.col-6 {
  width: 60%;
}
.col-7 {
  width: 70%;
}
.col-8 {
  width: 80%;
}
.col-9 {
  width: 90%;
}
.col-10 {
  width: 100%;
}
#BTL-Header {
  display: flex;
  background-color: aqua;
  margin: 0 100;
  padding: 20;
}
.flex {
  display: flex;
}
.support-text {
  margin-left: 15px;
}
.center {
  text-align: center;
}
p {
  margin: 0;
}
